:root {
  --input-padding-x: .75rem;
  --input-padding-y: .4rem;

  --btn-padding-x: 4rem;
  --btn-padding-y: .45rem;

  --login-backdrop-color: #333;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19b9d2;

  background: url('../img/back.jpg') transparent;
  background-position: 0rem bottom;
  background-size: cover;

  font-size: 18px;
}
body:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: var(--login-backdrop-color);
  opacity: 0;
  opacity: .7;
}

hr {
  border-color: #fff;
  opacity: .8
}

h1 {
  font-weight: 300;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > input {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
}
.form-label-group > input:focus,
.form-label-group > input:active {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
  box-shadow: none;
}
.form-label-group > input:invalid {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #DF1931;
  box-shadow: none;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #999;
  margin-top: -6px;
}

.btn-login {
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: 5em;
  text-transform: uppercase;
  background: #000;
  border: none;
  font-size: 1em;
  font-weight: lighter;
}

.btn-login-check {
  padding : 1em 2em 1em 2em;
  border-radius: 5em;
  text-transform: uppercase;
  background: #000;
  border: none;
  font-size: .8em;
  font-weight: lighter;
}

.btn-login:hover{
  background: rgba(0,0,0, .8)
}

.footer {
  position: fixed;
  bottom: 0;

  font-size: .9rem
}
.footer.text-white a {
  color: var(--white);
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #999;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #999;
  }
}

.heading-img{
  /*background: #fff;*/
  /*padding: 1em 4em 1em 3em;*/
  /*border-radius: 6em;*/
  /*margin-bottom: 1em;*/

  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  /*-webkit-box-shadow: 0px 2px 0px 0px rgba(3,3,3, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(3,3,3, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(3,3,3, 0.5);*/
}
